@using LocalizationAspNetCore22.SharedResource
@inject LocService SharedLocalizer

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @SharedLocalizer.GetLocalizedString("test")
</div>
